*{
    paddin:0;
    margin: 0;
}
body{
   padding: 0%;
   margin: 0%;
   background-color: aliceblue;
}
.main{
    display: flex;
    text-align: center;
     justify-content: center;  
    flex-direction: column;
    padding-top: 10px;
    margin-left: 5px;
   
}

 .search {
    border: 3px solid green;
    border-radius: 10px;
    background-color: rgb(232, 232, 243);
    font-size: larger;
    font-weight: bold;
    text-align: center;
 }
 .submitButton{
    border-radius: 10px;
    border: 3px solid black;
    font-size: larger;
    font-weight: bold;
 }
 .submitButton:hover{
    background-color: blue;
    color: rgb(222, 222, 236);
    transition: .5s;
 }


 /* Makeup CSS */

 .home-gifting-bar {
   display: flex;
   background-color: white;
   margin-top: -5px;
   width: 100%;
}
.home, .ico {
   color: gray;
}
.common {
   margin-right: 20px;
   margin: 20px;
}
.fa-solid, .fas {
   font-weight: 900;
}




 h1{
margin-left: 60px;
 }
button{
   cursor: pointer;
   border-radius: 5px;
}
 .Makeup{
   width: 330px;
   border-radius:10px;
   margin: 10px;
   display: flex;
display: inline-flex;
cursor: pointer;
   
}

 .box {
   box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
   justify-content: center;
   text-align: center;
   padding: 10px;
   height: 370px;
   background-color: white;
   border-radius: 15px;
  
}
img {
   height: 250px;    
}

.heart-btn{
 display: flex;
 justify-content:space-evenly

}

.heart{
 font-size:25px ;
 margin-top: 20px;
 border: 1px solid black;
 padding: 7px;
 border-radius: 8px;

}
.btn{
margin-top: 15px;
padding: 13px;
font-size: 15px;
font-weight: bolder;
border-radius: 12px;
color: white;
background-color: black;
width: 140px;
height: 20px;


} 